<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-48 mt-10">
  <h1 class="text-4xl font-bold text-white">Metas</h1>
  <table class="w-full text-sm text-left text-gray-light dark:text-gray-400">
    <thead class="text-xs text-white uppercase bg-gray-dark bg-opacity-40">
      <tr>
        <th scope="col" class="px-6 py-3">Nome</th>
        <th scope="col" class="px-6 py-3">Valor</th>
        <th scope="col" class="px-6 py-3">Data início</th>
        <th scope="col" class="px-6 py-3">Data fim</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Descrição</th>
        <th scope="col" class="px-6 py-3">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-gray-light bg-opacity-20 border-b border-gray-light"
        *ngFor="let goal of goals"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ goal.name }}
        </th>
        <td class="px-6 py-4">{{ goal.amount }}</td>
        <td class="px-6 py-4">{{ goal.startDate | date : "dd/MM/yyyy" }}</td>
        <td class="px-6 py-4">{{ goal.finishDate | date : "dd/MM/yyyy" }}</td>
        <td class="px-6 py-4">{{ goal.status }}</td>
        <td class="px-6 py-4">{{ goal.description }}</td>
        <td class="px-6 py-4">
          <a
            class="font-medium text-blue-light dark:text-blue-light hover:underline mr-3 cursor-pointer"
            (click)="onEdit(goal.id)"
            >Edit</a
          >
          <a
            class="font-medium text-blue-light dark:text-blue-light hover:underline cursor-pointer"
            (click)="onDelete(goal)"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
