<!-- component -->
<!-- follow me on twitter @asad_codes -->

<div class="flex flex-wrap h-screen">
  <section class="relative mx-auto">
      <!-- navbar -->
    <nav class="flex justify-between bg-gray-900 text-white w-screen">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <a class="text-3xl font-bold font-heading" href="#">
          <!-- <img class="h-9" src="logo.png" alt="logo"> -->
          <img class="h-9" src="../../../assets/logo/fine-up-favicon.png" alt="">
        </a>
        <!-- Nav Links -->
        <ul class="flex mx-auto font-semibold font-heading space-x-9">
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/signup']">Cadastro</a></li>
        </ul>
        <!-- Header Icons -->
      </div>
      
    </nav>
    
  </section>
</div>