<div class="bg-blend-hue bg-opacity-50 bg-slate-900 text-white mx-auto max-w-7xl sm:px-6 lg:px-8 sm:py-2 lg:py-4 lg:rounded-lg md:rounded-md rounded-none h-[calc(90vh)]">
    <div class="h-full w-full sm:w-75 md:w-50 lg:w-25">
        <div class="flex flex-wrap justify-between w-full p-2">
            <div class="flex-auto">
                <span class="text-4xl pb-3 font-bold tracking-tight sm:text-6xl">
                    Agenda
                </span>
            </div>
            <div class="flex flex-auto justify-end items-center gap-2">
              
                <fa-icon size="2x" [icon]="faPrev" class="text-white cursor-pointer shadow-md" (click)="previous()"></fa-icon>
                <fa-icon size="2x" [icon]="faNext" class="text-white cursor-pointer shadow-md" (click)="next()"></fa-icon>
                <!-- <fa-icon size="2x" [icon]="faOptions" class="text-white cursor-pointer shadow-md" (click)="op.show($event)"></fa-icon> -->
                <p-dropdown [options]="viewTranslate" [(ngModel)]="view" (onChange)="changeView($event)" >
                    <ng-template pTemplate="selectedItem">
                        <div class="flex justify-between gap-2 text-ellipsis text-base">
                            <div>{{ view }}</div>
                            <fa-icon [icon]="faOptions"></fa-icon>
                        </div>
                    </ng-template>
                    <ng-template let-view pTemplate="item">
                        <div class="flex justify-between gap-2 text-ellipsis text-base">
                            <div>{{ view }}</div>
                            <fa-icon [icon]="faOptions"></fa-icon>
                        </div>
                    </ng-template>
                </p-dropdown>

                <p-overlayPanel #op>
                </p-overlayPanel>
    
            </div>
    
        </div>

        <!-- <div class="gap-2 w-full p-2">
            <label for="employees">Funcionárias</label>
            <span class="p-fluid">
                <p-autoComplete inputId="employees" [(ngModel)]="selectedEmployes" [suggestions]="filteredEmployes" (completeMethod)="filterEmployee($event)" field="name" [multiple]="true" [style]="{ width: '100%' }">
                </p-autoComplete>
            </span>
        </div> -->
        
        <div class="flex w-full h-full max-h-full md:p-2 lg:p-4 p-0">
            <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        </div>        
    </div>
</div>

<p-dialog [header]="header" [(visible)]="visible" [breakpoints]="{ '960px': '75vw', '600px': '85vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="form.reset({note: ''})" [modal]="true">
    <form [formGroup]="form">
        <div class="grid grid-cols-12 gap-x-6 gap-y-4">
            <div class="col-span-6">
                <label for="startDateTime">Início</label>
                <p-calendar formControlName="startDateTime" placeholder="08:00" inputId="startDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true"></p-calendar>
            </div>

            <div class="col-span-6">
                <label for="finishDateTime">Fim</label>
                <p-calendar formControlName="finishDateTime" placeholder="10:00" inputId="finishDateTime" [style]="{width:'100%'}" [showOnFocus]="true" [showTime]="true" [timeOnly]="true"></p-calendar>
            </div>

            <div class="sm:col-span-6 col-span-12">
                <label for="service">Serviço</label>
                <p-dropdown dataKey="id" placeholder="Selecione o serviço" [options]="services" formControlName="service" [showClear]="true" [autoDisplayFirst]="false" optionLabel="description" inputId="service" (onChange)="changeService($event)"  [style]="{width:'100%'}"></p-dropdown>
            </div>

            <div class="sm:col-span-6 col-span-12">
                <label for="price">Preço</label>
                <input type="number" id="price" pInputText placeholder="R$ 100,00" formControlName="price" [style]="{width:'100%'}"/>
            </div>

            <div class="sm:col-span-6 col-span-12">
                <label for="employee">Funcionária</label>
                <p-dropdown dataKey="id" placeholder="Selecione a funcionária" [options]="employees" formControlName="employee" [showClear]="true" [autoDisplayFirst]="false" optionLabel="name" inputId="employee" [style]="{width:'100%'}"></p-dropdown>
            </div>

            <div class="sm:col-span-6 col-span-12">
                <label for="customer">Cliente</label>
                <p-dropdown dataKey="id" placeholder="Selecione a cliente" [options]="customers" formControlName="customer" [showClear]="true" [autoDisplayFirst]="false" optionLabel="name" inputId="customer" [style]="{width:'100%'}"></p-dropdown>
            </div>

            <div class="col-span-12">
                <label for="note">Anotação</label>
                <textarea id="note" formControlName="note" cols="10" [style]="{width: '100%'}" placeholder="Informações importantes..." pInputTextarea></textarea>
            </div>

        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex gap-2">
            <button pButton [style]="{width:'100%'}" class="p-button-danger flex justify-center items-center gap-2" *ngIf="edit" (click)="tryDelete()">
                <span class="tracking-tight text-white text-ellipsis">Excluir</span>
                <fa-icon [icon]="faDelete" (click)="null"></fa-icon>
            </button>
            <button pButton (click)="confirm()" [style]="{width:'100%'}" class="flex justify-center items-center gap-2" [disabled]="form.invalid">
                <span class="tracking-tight text-white text-ellipsis">Confirmar</span>
                <fa-icon [icon]="faConfirm" (click)="confirm()"></fa-icon>
            </button>
        </div>
    </ng-template>
</p-dialog>