<div class="grid grid-cols-1 sm:grid-cols-2 bg-gray-dark text-white">
  <div>
    <div class="py-10 px-4 sm:px-8 md:px-12 lg:px-28">
      <img src="../../../assets/logo/fine-up-logo.png" class="w-40" />
      <main class="flex flex-col gap-10 w-full mt-10 sm:mt-28">
        <header class="flex flex-col gap-4 w-full max-w-[350px]">
          <h1 class="text-4xl font-bold">Acesse a plataforma</h1>
          <p class="font-normal text-base">
            Faça login ou crie sua conta agora mesmo.
          </p>
        </header>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full sm:w-1/2 px-3 mb-6 sm:mb-0">
              <label
                class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                for="name"
              >
                Nome Completo
              </label>
              <input
                [ngClass]="{
                  'border-red-500':
                    form.get('name')?.invalid && form.get('name')?.touched
                }"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border-gray-200 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="name"
                type="text"
                formControlName="name"
              />
              <app-error-msg
                [control]="form.get('name')"
                label="name"
              ></app-error-msg>
            </div>

            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                for="dateBirth"
              >
                Data início
              </label>
              <input
                [ngClass]="{
                  'border-red-500':
                    form.get('dateBirth')?.invalid &&
                    form.get('dateBirth')?.touched
                }"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="dateBirth"
                type="date"
                formControlName="dateBirth"
              />
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                for="email"
              >
                Email
              </label>
              <input
                [ngClass]="{
                  'border-red-500':
                    form.get('email')?.invalid && form.get('email')?.touched
                }"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="email"
                type="email"
                placeholder="email@email.com"
                formControlName="email"
              />
              <app-error-msg
                [control]="form.get('email')"
                label="email"
              ></app-error-msg>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                for="password"
              >
                Password
              </label>
              <input
                [ngClass]="{
                  'border-red-500':
                    form.get('password')?.invalid &&
                    form.get('password')?.touched
                }"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="password"
                type="password"
                placeholder="******************"
                formControlName="password"
              />
              <app-error-msg
                [control]="form.get('password')"
                label="password"
              ></app-error-msg>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                for="confirmPassword"
              >
                Confirmar senha
              </label>
              <input
                [ngClass]="{
                  'border-red-500':
                    form.get('confirmPassword')?.invalid &&
                    form.get('confirmPassword')?.touched
                }"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="confirmPassword"
                type="password"
                placeholder="******************"
                formControlName="confirmPassword"
              />
              <app-error-msg
                [control]="form.get('confirmPassword')"
                label="confirmPassword"
              ></app-error-msg>
            </div>
          </div>

          <button
            class="bg-blue-light hover:bg-white hover:text-gray-dark text-white font-bold py-2 px-4 rounded w-full"
            type="submit"
          >
            Criar usuário
          </button>

          <p class="text-center font-bold mt-2 mb-2 text-sm">OU</p>

          <a
            [routerLink]="['/login']"
            class="bg-blue-light hover:bg-white hover:text-gray-dark text-white font-bold py-2 px-4 rounded w-full text-center"
            type="submit"
          >
            Entrar na conta
          </a>
        </form>
      </main>
    </div>
  </div>
  <div class="bg-cover bg-no-repeat bg-register"></div>
</div>
