<div class="h-full w-full sm:w-75 md:w-50 lg:w-25">
    <div class="grid py-2 md:px-2 lg:px-4 px-0" *ngIf="header">
        <div class="col-span-12 md:col-span-6 flex items-center">
            <div class="w-full">
                <p-dropdown [options]="viewTranslate" [(ngModel)]="view" (onChange)="changeView($event)" [style]="{width: '100%'}">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex justify-between gap-2 text-ellipsis text-base">
                            <div>{{ view }}</div>
                            <i class="fa-solid fa-calendar-check"></i>
                        </div>
                    </ng-template>
                    <ng-template let-view pTemplate="item">
                        <div class="flex justify-between gap-2 text-ellipsis text-base">
                            <div>{{ view }}</div>
                            <i class="fa-solid fa-calendar-check"></i>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
    
    
    <div class="md:p-2 lg:p-4 p-0">
        <div class="flex justify-between items-center p-2 bg-white rounded-t-lg">
            <div class="text-4xl text-purple-hb font-bold tracking-tight sm:text-6xl" style="z-index: 2;">{{month}}</div>
            
            <span class="flex gap-1">
                <i class="fa-solid fa-arrow-circle-left fa-2x text-purple-hb cursor-pointer" (click)="previous()"></i>
                <i class="fa-solid fa-arrow-circle-right fa-2x text-purple-hb cursor-pointer" (click)="next()"></i>
            </span>
        </div>
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
        <div class="h-3 bg-white rounded-b-lg"></div>
    </div>        
</div>