<div class="w-100 flex flex-col ali">
    <img class="self-center" src="../assets/logo/fine-up-logo.png" alt="" />
    <div class="self-center flex w-4/12 gap-2 mt-2">
      <a
        [routerLink]="['/login']"
        class="outline-blue-light bg-blue-light hover:bg-white hover:text-gray-dark text-white font-bold py-2 px-4 rounded w-full text-center"
        type="submit"
      >
        Entrar na conta
      </a>

      <a
        [routerLink]="['/signup']"
        class="bg-blue-light hover:bg-white hover:text-gray-dark text-white font-bold py-2 px-4 rounded w-full text-center"
        type="submit"
      >
        Criar usuário
      </a>
    </div>
  </div>