<div class="flex justify-center align-middle h-screen bg-gray-dark text-white">
  <div class="py-10 px-28 w-6/12">
    <main class="flex flex-col gap-10 w-full mt-28">
      <header class="flex flex-col gap-4 w-full max-w-[350px]:">
        <h1 class="text-4xl font-bold">Meta</h1>
        <i class="fa-solid fa-user ml-2"></i>
      </header>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 md:mb-0">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="name"
            >
              Nome
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('name')?.invalid && form.get('name')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border-gray-200 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="name"
              type="text"
              formControlName="name"
            />
          </div>

          <div class="w-full md:w-1/2 px-3">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="amount"
            >
              Valor
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('amount')?.invalid && form.get('amount')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="amount"
              type="text"
              formControlName="amount"
              placeholder="R$ 399"
            />
          </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1100 px-3 md:mb-0">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="description"
            >
              Descrição
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('description')?.invalid &&
                  form.get('description')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border-gray-200 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="description"
              type="text"
              formControlName="description"
            />
          </div>

          <div class="w-full md:w-1/2 px-3 mt-6">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="startDate"
            >
              Data início
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('Data início')?.invalid &&
                  form.get('Data início')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="startDate"
              type="date"
              formControlName="startDate"
            />
          </div>

          <div class="w-full md:w-1/2 px-3 mt-6">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="finishDate"
            >
              Data Termino
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('Data início')?.invalid &&
                  form.get('Data início')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="finishDate"
              type="date"
              formControlName="finishDate"
            />
          </div>
        </div>

        <button
          class="bg-blue-light hover:bg-white hover:text-gray-dark text-white font-bold py-2 px-4 rounded w-full"
          type="submit"
        >
          Adicionar meta
        </button>
      </form>
    </main>
  </div>
</div>
