<div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-48 mt-10">
  <h1 class="text-4xl font-bold">Usuarios</h1>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Nome</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          
          <td class="px-6 py-4">{{user.name}}</td>
          <td class="px-6 py-4">{{user.email}}</td>
          <td class="px-6 py-4">
            <a
              class="font-medium text-blue-light dark:text-blue-light hover:underline mr-3 cursor-pointer"
              (click)="onEdit(user.id)"
              >Edit</a
            >
            <a
              class="font-medium text-blue-light dark:text-blue-light hover:underline cursor-pointer"
              (click)="onDelete(user)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  