<div class="flex justify-center width-full h-screen bg-gray-dark text-white">
    <div class="sm:w-1/2 w-full p-2">
        <h2>Usuário</h2>
        <form [formGroup]="form" class="grid grid-cols-12 gap-2">

            <div class="col-span-12 md:col-span-6">
                <input type="text" placeholder="Nome">
            </div>
            <div class="col-span-12 md:col-span-6">
                <input type="text" placeholder="Email">
                
            </div>
            <div class="col-span-12 md:col-span-6">
                <input type="text" placeholder="Senha">
                
            </div>
            <div class="col-span-12 md:col-span-6">
                <input type="text" placeholder="Confirmar senha">

            </div>

        </form>
    </div>
  </div>
  