<div class="flex justify-center items-center h-full text-white">
  <div class="w-full sm:w-3/4 md:w-2/2 xl:w-2/3">
    <main class="flex flex-col gap-10 w-full px-4">
      <header class="flex flex-col gap-4 w-full max-w-[350px]:">
        <h1 class="text-4xl font-bold">{{header}}</h1>
      </header>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 md:mb-0">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="name"
            >
              Nome completo
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('name')?.invalid && form.get('name')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border-gray-200 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="name"
              type="text"
              formControlName="name"
              [disabled]="true"
            />
          </div>

          <div class="w-full md:w-1/2 px-3">
            <label
              class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
              for="email"
            >
              Email
            </label>
            <input
              [ngClass]="{
                'border-red-500':
                  form.get('email')?.invalid && form.get('email')?.touched
              }"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="email"
              type="email"
              formControlName="email"
              placeholder="dev@test.com"
              [disabled]="true"
            />
          </div>
        </div>

        <div class="flex flex-wrap -mx-0 mb-5">
          <label for="dateBirth">Data de nascimento</label>
          <input
            type="date"
            id="dateBirth"
            formControlName="dateBirth"
            placeholder="Aniversário"
            [style]="{ width: '100%' }"
            [disabled]="true"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          />
        </div>
      </form>
    </main>
    <button [hidden]="!itsMine" (click)="submit()"
    class="bg-blue-light hover:bg-white hover:text-gray-dark text-white font-bold py-2 px-4 rounded w-full" type="submit">
    Editar
  </button>
  </div>
</div>
